langchain
deeplake
openai
tiktoken
streamlit
streamlit_chat
python-dotenv
bs4
requests
pypdf
unstructured
tabulate
pdf2image
chromadb==0.4.13
sentence_transformers==2.2.2
InstructorEmbedding==1.0.1
google-cloud-aiplatform==1.33.1
google-generativeai==0.2.0
streamlit==1.13.0
pandas==1.3.5
scikit-learn==1.1.0
