google-cloud-aiplatform
langchain 
openai 
tiktoken 
chromadb
pandas
python-dotenv
unstructured
unstructured[pdf]
google-generativeai
streamlit
pypdf
pdf2image
langchain-community
streamlit_chat
opencv-python-headless

