langchain
deeplake
openai
tiktoken
streamlit
streamlit_chat
python-dotenv
bs4
requests
pypdf
unstructured
unstructured[pdf]
tabulate
pdf2image
pytesseract
chromadb
sentence_transformers
InstructorEmbedding
google-cloud-aiplatform
google-generativeai
pandas
nltk
opencv-contrib-python
scikit-learn
httpx_oauth
pandas
python-dotenv



